
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<!-- bootstrap -->
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
  </script>
  <script src="/jQuery/funciones.js"></script>
</head>
<body
	background="https://i.pinimg.com/originals/79/45/7f/79457fd4cbc0a6ff4b0542ac700cb4d1.jpg">

	<div class="d-grid gap-2 col-6 mx-auto">

		<h1 class="display-1 bg-primary">Unla Permisos Covid</h1>

		<a th:href="@{/login/}" class="btn btn-primary" id="idLogin">Ir a
			Login</a> <br />
		<!--  	 <a th:href="@{/jugador/list}"
			class="btn btn-primary">lista de jugadores</a> <br /> <a
			th:href="@{/equipo/list}" class="btn btn-primary">lista de
			equipos</a> <br /> <a th:href="@{/posicion/new/}"
			class="btn btn-info">agregar posicion</a> <br /> <a
			th:href="@{/jugador/new}" class="btn btn-info">agregar jugador</a> <br /> <a th:href="@{/equipo/new}" class="btn btn-info">agregar equipo</a> <br /> <a th:href="@{/jugador/traerJEP}" class="btn btn-danger">Ver
			jugadores por Equipo y Posicion</a>
			-->
	</div>


</body>
</html>